File /Engagement Score Analysis V3 (Final) (1).json
{
  "name": "Engagement Score Analysis V3 (Final)",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1suMRMao5D59gdsCfYRnPMZVMFD66S9yyLJYJPZ1Pp7M",
          "mode": "list",
          "cachedResultName": "Student Data ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1suMRMao5D59gdsCfYRnPMZVMFD66S9yyLJYJPZ1Pp7M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 908704875,
          "mode": "list",
          "cachedResultName": "Example sheet ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1suMRMao5D59gdsCfYRnPMZVMFD66S9yyLJYJPZ1Pp7M/edit#gid=908704875"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -176,
        128
      ],
      "id": "c6788b7e-5e7e-4106-a345-ae898c74ffaf",
      "name": "Student Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C4gvnXKLOYKbTMI4",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// This script processes each item coming from the AI node\n// and converts the stringified ID-based objects into flat table rows.\n\nconst results = [];\n\n// Loop through every item entering the node\nfor (const item of $input.all()) {\n  try {\n    // 1. Parse the string inside the \"text\" field\n    const parsedText = JSON.parse(item.json.text);\n    \n    // 2. Since the ID (like \"101\") is the key, get that key\n    const studentId = Object.keys(parsedText)[0];\n    const studentData = parsedText[studentId];\n\n    // 3. Push a clean object into our results array\n    results.push({\n      json: {\n        student_id: studentId,\n        student_name: studentData.student_name,\n        feedback_level: studentData.feedback_level\n      }\n    });\n  } catch (error) {\n    // If an item is empty or invalid, we skip it to prevent crashing\n    continue;\n  }\n}\n\nreturn results;"
      },
      "id": "ea4953a7-2cce-4677-8453-9ed8f62c0d63",
      "name": "Convert Sentiment into score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n\n  // ---------- STUDENT ----------\n  const U = Number(item.json[\"Understanding (Student)\"] || 0) * 10;\n  const Q = Number(item.json[\"Quiz (%)\"] || 0);\n  const I = Number(item.json[\"Interest\"] || 0) * 10;\n  const A = Number(item.json[\"Assignment\"] || 0);\n\n  // ---------- DOUBT ----------\n  let doubtScore = 60;\n  if (item.json[\"Doubt\"] === \"None\") doubtScore = 100;\n  else if (item.json[\"Doubt\"] === \"Many\") doubtScore = 30;\n\n  // ---------- PACE ----------\n  let paceScore = 100;\n  if (item.json[\"Pace\"] === \"Slow\") paceScore = 70;\n  else if (item.json[\"Pace\"] === \"Fast\") paceScore = 50;\n\n  // ---------- STUDENT SCORE ----------\n  const studentScore =\n    (0.25 * U) +\n    (0.25 * Q) +\n    (0.15 * I) +\n    (0.15 * A) +\n    (0.10 * doubtScore) +\n    (0.10 * paceScore);\n\n  // ---------- TEACHER ----------\n  const TP = Number(item.json[\"Teacher Participation\"] || 0) * 10;\n  const TA = Number(item.json[\"Teacher Attention\"] || 0) * 10;\n  const TU = Number(item.json[\"Teacher Understanding\"] || 0) * 10;\n  const E  = Number(item.json[\"Effort\"] || 0) * 10;\n\n  const teacherScore =\n    (0.30 * TP) +\n    (0.25 * TA) +\n    (0.25 * TU) +\n    (0.20 * E);\n\n  // ---------- FEEDBACK ----------\n  let feedbackScore = 60;\n  if (item.json[\"feedback_level\"] === \"Positive\") feedbackScore = 100;\n  else if (item.json[\"feedback_level\"] === \"Negative\") feedbackScore = 30;\n\n  // ---------- FINAL SCORE ----------\n  const finalScore =\n    (0.6 * studentScore) +\n    (0.3 * teacherScore) +\n    (0.1 * feedbackScore);\n\n  // ---------- RISK LOGIC ----------\n  let risk = \"High Risk\";\n  if (finalScore >= 75) risk = \"Low Risk\";\n  else if (finalScore >= 50) risk = \"Medium Risk\";\n\n  // ---------- RETURN ----------\n  return {\n    json: {\n      ...item.json,\n      \"Student Score\": Math.round(studentScore),\n      \"Teacher Score\": Math.round(teacherScore),\n      \"Final Engagement Score\": Math.round(finalScore),\n      \"Risk\": risk\n    }\n  };\n\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        128
      ],
      "id": "94d85961-9a62-4a8e-a81f-4a40e8b3dbb9",
      "name": "Engagement Score & Risk"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Act as a JSON formatter. Analyze the student feedback and return a single JSON object where each key is the Student ID. Convert the feedback into a 3-level scale: Negative , positive And Neutral\n\nRules:\n1. Output ONLY raw JSON. \n2. No conversational text, no markdown code blocks.\n3. Use the exact structure provided in the example.\n\nInput:\nStudent id :{{ $json['Student ID'] }}\nstudent name :{{ $json['Student Name'] }}\nstudent feedback:{{ $json.Feedback }}\nRequired JSON Format:\n{  \"STUDENT_ID\": {\n    \"student_name\": \"Name\",\n    \"feedback_level\": \"Positive/Neutral/Negative\"\n  }\n}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        32,
        -80
      ],
      "id": "1c909af3-234e-466a-bebf-3f7fc2a2d096",
      "name": "Sentiment Conversion1"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        80,
        144
      ],
      "id": "baf879d0-bad4-425b-9391-044fd83e455a",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "OonVzXZ9vrQDfIHv",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xxlegqKalQRymcN-06hz4QvijEq9tcHTYXKkBy4uPTQ",
          "mode": "list",
          "cachedResultName": "Teacher Feedback ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xxlegqKalQRymcN-06hz4QvijEq9tcHTYXKkBy4uPTQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xxlegqKalQRymcN-06hz4QvijEq9tcHTYXKkBy4uPTQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -192,
        320
      ],
      "id": "e572d2e0-3f07-4f24-9a3a-b02f5d6a73ee",
      "name": "Teacher Feedback",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C4gvnXKLOYKbTMI4",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const students = $input.first().json.students;\n\n// Convert array → multiple items (rows)\nreturn students.map(student => ({\n  json: student\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        128
      ],
      "id": "b8c29202-f542-4d0f-b86b-af3404b2e5f8",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "17Bj0BgxMAERA-wvOIo3lXRV_0CPrPaYZjR1XoVAqc30",
          "mode": "list",
          "cachedResultName": "Combine data ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17Bj0BgxMAERA-wvOIo3lXRV_0CPrPaYZjR1XoVAqc30/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17Bj0BgxMAERA-wvOIo3lXRV_0CPrPaYZjR1XoVAqc30/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Student Name": "={{ $json['Student Name'] }}",
            "ID": "={{ $json['Student ID'] }}",
            "Email": "={{ $json['Student Email ID'] }}",
            "Understanding (Student)": "={{ $json['Understanding Score'] }}",
            "Quiz (%)": "={{ $json['Quiz Score (%)'] }}",
            "Interest": "={{ $json['Interest Level'] }}",
            "Doubt": "={{ $json['Doubt Status'] }}",
            "Pace": "={{ $json['Teaching Pace'] }}",
            "Assignment": "={{ $json['Assignment Score (%)'] }}",
            "Feedback": "={{ $json.Feedback }}",
            "Teacher Participation": "={{ $json.teacher_data[\"Teacher Participation\"] }}",
            "Teacher Attention": "={{ $json.teacher_data[\"Teacher Attention\"] }}",
            "Teacher Understanding": "={{ $json.teacher_data[\"Teacher Understanding\"] }}",
            "Effort": "={{ $json.teacher_data.Effort }}",
            "Teacher Remark": "={{ $json.teacher_data[\"Teacher Remark\"] }}",
            "Topic Difficulty": "={{ $json['Topic Difficulty'] }}",
            "Suggested Improvement": "={{ $json['Suggested Improvement'] }}",
            "feedback_level": "={{ $json.feedback_level }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Student Name",
              "displayName": "Student Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Understanding (Student)",
              "displayName": "Understanding (Student)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quiz (%)",
              "displayName": "Quiz (%)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Interest",
              "displayName": "Interest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Doubt",
              "displayName": "Doubt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pace",
              "displayName": "Pace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Assignment",
              "displayName": "Assignment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teacher Participation",
              "displayName": "Teacher Participation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teacher Attention",
              "displayName": "Teacher Attention",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teacher Understanding",
              "displayName": "Teacher Understanding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Effort",
              "displayName": "Effort",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teacher Remark",
              "displayName": "Teacher Remark",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Form Participation",
              "displayName": "Form Participation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Topic Difficulty",
              "displayName": "Topic Difficulty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Suggested Improvement",
              "displayName": "Suggested Improvement",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "feedback_level",
              "displayName": "feedback_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        128
      ],
      "id": "ab677e8a-1a15-4e8f-828f-77b4ceb137f7",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C4gvnXKLOYKbTMI4",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get data from 3 different nodes\nconst data1 = $items(\"Student Data\").map(item => item.json); // Main student data\nconst data2 = $items(\"Convert Sentiment into score\").map(item => item.json); // Feedback data\nconst data3 = $items(\"Teacher Feedback\").map(item => item.json); // Teacher data\n\n// Create maps\nconst map2 = {};\ndata2.forEach(item => {\n    map2[item.student_id] = item;\n});\n\nconst map3 = {};\ndata3.forEach(item => {\n    map3[item.ID] = item;\n});\n\n// Merge\nconst result = data1.map(student => {\n    const id = student[\"Student ID\"];\n\n    return {\n        ...student,\n        feedback_level: map2[id]?.feedback_level || null,\n        teacher_data: map3[id] ? {\n            \"Teacher Participation\": map3[id][\"Teacher Participation\"],\n            \"Teacher Attention\": map3[id][\"Teacher Attention\"],\n            \"Teacher Understanding\": map3[id][\"Teacher Understanding\"],\n            \"Effort\": map3[id][\"Effort\"],\n            \"Teacher Remark\": map3[id][\"Teacher Remark\"]\n        } : null\n    };\n});\n\n\nreturn [\n  {\n    json: {\n      students: result\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        128
      ],
      "id": "b685b9c1-0f3a-477a-ba1f-fa91110a2862",
      "name": "Combine conversion"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1yiY4j-IhTMl7EXUksQPfe5zl6IoykO42bB-Z90wKP0U",
          "mode": "list",
          "cachedResultName": "Engagement Score ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yiY4j-IhTMl7EXUksQPfe5zl6IoykO42bB-Z90wKP0U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yiY4j-IhTMl7EXUksQPfe5zl6IoykO42bB-Z90wKP0U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Student Name": "={{ $json['Student Name'] }}",
            "ID": "={{ $json.ID }}",
            "Email": "={{ $json.Email }}",
            "Understanding (Student)": "={{ $json['Understanding (Student)'] }}",
            "Quiz (%)": "={{ $json['Quiz (%)'] }}",
            "Interest": "={{ $json.Interest }}",
            "Doubt": "={{ $json.Doubt }}",
            "Pace": "={{ $json.Pace }}",
            "Assignment": "={{ $json.Assignment }}",
            "Feedback": "={{ $json.Feedback }}",
            "Teacher Participation": "={{ $json['Teacher Participation'] }}",
            "Teacher Attention": "={{ $json['Teacher Attention'] }}",
            "Teacher Understanding": "={{ $json['Teacher Understanding'] }}",
            "Effort": "={{ $json.Effort }}",
            "Teacher Remark": "={{ $json['Teacher Remark'] }}",
            "Topic Difficulty": "={{ $json['Topic Difficulty'] }}",
            "Suggested Improvement": "={{ $json['Suggested Improvement'] }}",
            "Feedback Level": "={{ $json.feedback_level }}",
            "Student Score": "={{ $json['Student Score'] }}",
            "Teacher Score": "={{ $json['Teacher Score'] }}",
            "Final Engagement Score": "={{ $json['Final Engagement Score'] }}",
            "Risk": "={{ $json.Risk }}",
            "feedback_level": "={{ $json.feedback_level }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Student Name",
              "displayName": "Student Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Understanding (Student)",
              "displayName": "Understanding (Student)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quiz (%)",
              "displayName": "Quiz (%)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Interest",
              "displayName": "Interest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Doubt",
              "displayName": "Doubt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pace",
              "displayName": "Pace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Assignment",
              "displayName": "Assignment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teacher Participation",
              "displayName": "Teacher Participation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teacher Attention",
              "displayName": "Teacher Attention",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teacher Understanding",
              "displayName": "Teacher Understanding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Effort",
              "displayName": "Effort",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teacher Remark",
              "displayName": "Teacher Remark",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Topic Difficulty",
              "displayName": "Topic Difficulty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Suggested Improvement",
              "displayName": "Suggested Improvement",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Feedback Level",
              "displayName": "Feedback Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Student Score",
              "displayName": "Student Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teacher Score",
              "displayName": "Teacher Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final Engagement Score",
              "displayName": "Final Engagement Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk",
              "displayName": "Risk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "feedback_level",
              "displayName": "feedback_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1376,
        128
      ],
      "id": "1aab1475-de4a-4d38-83e3-76a536d74069",
      "name": "Engagement Score  and  Risk data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C4gvnXKLOYKbTMI4",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1ZZoolObuNzWxCTErHzTaU3RreIFR-eU_uTGdRgcM0cM/edit?usp=sharing"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -192,
        768
      ],
      "id": "76e6de4b-28cd-4cb6-92e9-55e441ee99fe",
      "name": "Teacher Transcript",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "K1XZZlc4JbW05Fa5",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1aow7Bc75vKpfhn3h6e1hton9qtmgwEdIXaImifObYX0/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -192,
        528
      ],
      "id": "28827000-96f7-4a0f-beca-567b524f216b",
      "name": "Teacher Notes",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "K1XZZlc4JbW05Fa5",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        256,
        640
      ],
      "id": "ff2fbfdc-8889-4c6e-8c59-b60100e1706d",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a teaching quality evaluator.\n\nSYLLABUS NOTES: {{ $json.notes_summary || '' }}\nLECTURE TRANSCRIPT: {{ $json.transcript_summary || '' }}\n\nAnalyze and output ONLY raw JSON:\n{\"analysis\":{\"covered_topics\":[\"topic1\"],\"missed_topics\":[\"topic1\"],\"partially_covered_topics\":[\"topic1\"],\"off-topic_content\":\"5\",\"match_percentage\":75,\"rating\":\"GOOD\"}}\n\nKeep topic names SHORT. No markdown, no quotes from transcript.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        416,
        640
      ],
      "id": "361aaefa-6435-4fe1-afc6-f86a7b1d43bd",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        432,
        832
      ],
      "id": "32a7d9d2-0506-4849-9d73-e95ba9b925a7",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "G4a03EAieez7gP7Q",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1wRjmOKl-aO0F7oXy5G4P0DeoBnXp3rTV78pgwCACUVM/edit?tab=t.0",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.candidates ? $json.candidates[0].content.parts[0].text : ($json.text || JSON.stringify($json)) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1968,
        496
      ],
      "id": "0c7c159c-aeb7-45d6-8faf-cbf364dddcfd",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "K1XZZlc4JbW05Fa5",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n\n  let raw = item.json.text || \"\";\n\n  // 🧹 remove markdown\n  let clean = raw\n    .replace(/```json/g, \"\")\n    .replace(/```/g, \"\")\n    .trim();\n\n  let parsed;\n  try {\n    parsed = JSON.parse(clean);\n  } catch (e) {\n    return { json: { error: \"Invalid JSON\", raw } };\n  }\n\n  // 🔄 unify root\n  const data =\n    parsed.analysis ||\n    parsed.evaluation ||\n    {};\n\n  // ✅ helper to extract topics safely\n  const extractTopics = (arr) => {\n    if (!Array.isArray(arr)) return [];\n    return arr.map(i =>\n      typeof i === \"string\" ? i : i?.topic\n    ).filter(Boolean);\n  };\n\n  // 📚 normalize\n  const covered = extractTopics(\n    data.covered || data.covered_topics\n  );\n\n  const missed = extractTopics(\n    data.missed || data.missed_topics\n  );\n\n  const partial = extractTopics(\n    data.partial || data.partially_covered_topics\n  );\n\n  // ⏱️ off-topic (safe)\n  let offTopicTime = 0;\n\n  const off = data[\"off-topic\"] || data[\"off-topic_content\"];\n\n  if (typeof off === \"string\") {\n    offTopicTime = parseFloat(off) || 0;\n  }\n\n  // ✅ final output\n  return {\n    json: {\n      covered,\n      missed,\n      partial,\n      off_topic_time: offTopicTime + \" minutes\",\n      match_percentage: data.match_percentage || 0,\n      rating: data.rating || \"UNKNOWN\"\n    }\n  };\n\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        640
      ],
      "id": "4fb10561-40e2-41e0-b90d-22c2e1a5ce8b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const d = item.json;\n\n  return {\n    json: {\n      name: d[\"Student Name\"],\n      id: d.ID,\n      email: d.Email,\n      understanding: d[\"Understanding (Student)\"],\n      quiz_score: d[\"Quiz (%)\"],\n      interest: d.Interest,\n      doubt_level:\n        d.Doubt === \"None\" ? \"LOW\" :\n        d.Doubt === \"Some\" ? \"MEDIUM\" : \"HIGH\",\n      pace: d.Pace.toUpperCase(),\n      assignment_score: d.Assignment,\n      feedback: d.Feedback,\n      teacher_metrics: {\n        participation: d[\"Teacher Participation\"],\n        attention: d[\"Teacher Attention\"],\n        understanding: d[\"Teacher Understanding\"]\n      },\n      effort: d.Effort,\n      teacher_remark: d[\"Teacher Remark\"],\n      topic_difficulty: d[\"Topic Difficulty\"].toUpperCase(),\n      suggested_improvement: d[\"Suggested Improvement\"],\n      feedback_sentiment: d.feedback_level.toUpperCase(),\n      student_score: d[\"Student Score\"],\n      teacher_score: d[\"Teacher Score\"],\n      engagement_score: d[\"Final Engagement Score\"],\n      risk_level: d.Risk.replace(\" Risk\", \"\").toUpperCase()\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        400
      ],
      "id": "71c6b178-0b59-42a7-949d-cb59beab0d4a",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a teaching quality summarizer.\n\nINPUT DATA:\n{{ JSON.stringify($json) }}\n\nOUTPUT (JSON ONLY, no markdown):\n{\"teacher_performance\":{\"coverage_score\":\"0-100\",\"topics_covered\":[\"topic1\"],\"topics_missed\":[\"topic1\"],\"overall_rating\":\"EXCELLENT or GOOD or POOR or FAIL\",\"key_strengths\":[\"strength1\"],\"areas_for_improvement\":[\"area1\"],\"summary\":\"2-3 sentence summary\"}}\n\nRULES: Output ONLY raw JSON. No text, no markdown.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1104,
        640
      ],
      "id": "38259c2e-7d0c-445a-892d-97cfe2a8bcb5",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        768,
        816
      ],
      "id": "3a2e96c6-2531-4b37-ac16-7cdd5e98a28b",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "G4a03EAieez7gP7Q",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1392,
        480
      ],
      "id": "d8fa60fb-772a-4cea-b4cf-f880cf93ee88",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// 🧠 initialize combined result\nlet combined = {\n  covered: new Set(),\n  missed: new Set(),\n  partial: new Set(),\n  off_topic_time: 0,\n  match_percentage: [],\n  rating: []\n};\n\nitems.forEach(item => {\n  const d = item.json;\n\n  // ✅ merge arrays (avoid duplicates using Set)\n  (d.covered || []).forEach(t => combined.covered.add(t));\n  (d.missed || []).forEach(t => combined.missed.add(t));\n  (d.partial || []).forEach(t => combined.partial.add(t));\n\n  // ⏱️ sum off-topic time\n  if (d.off_topic_time) {\n    combined.off_topic_time += parseFloat(d.off_topic_time) || 0;\n  }\n\n  // 📊 collect percentages\n  if (d.match_percentage !== undefined) {\n    combined.match_percentage.push(d.match_percentage);\n  }\n\n  // ⭐ collect ratings\n  if (d.rating) {\n    combined.rating.push(d.rating);\n  }\n});\n\n\n// 🎯 final output\nreturn [{\n  json: {\n    covered: Array.from(combined.covered),\n    missed: Array.from(combined.missed),\n    partial: Array.from(combined.partial),\n\n    off_topic_time: combined.off_topic_time + \" minutes\",\n\n    match_percentage:\n      combined.match_percentage.length\n        ? Math.round(\n            combined.match_percentage.reduce((a, b) => a + b, 0) /\n            combined.match_percentage.length\n          )\n        : 0,\n\n    rating: combined.rating.includes(\"POOR\")\n      ? \"POOR\"\n      : combined.rating.includes(\"AVERAGE\")\n      ? \"AVERAGE\"\n      : \"GOOD\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        640
      ],
      "id": "b5008fc3-4c1b-4759-a7b9-e26e5e6ad601",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        464,
        128
      ],
      "id": "d8b30b3e-05ee-4692-8f3f-cffa2520001e",
      "name": "Wait for All Data"
    },
    {
      "parameters": {
        "jsCode": "const doc = $input.first().json;\nconst content = doc.body?.content || doc.text || JSON.stringify(doc);\nlet text = typeof content === 'string' ? content : JSON.stringify(content);\ntext = text.replace(/\\\\s+/g, ' ').trim();\n\nif (text.length <= 3000) {\n  return [{ json: { transcript_summary: text, is_chunked: false } }];\n}\n\nconst first = text.substring(0, 1500);\nconst last = text.substring(text.length - 1500);\nconst middleChunks = [];\nconst step = Math.floor(text.length / 6);\nfor (let i = 1; i <= 4; i++) {\n  const pos = step * i;\n  const block = text.substring(pos, pos + 200);\n  const sentence = block.split(/[.!?]/)[0];\n  if (sentence) middleChunks.push(sentence.trim());\n}\n\nconst summary = `[START]\\n${first}\\n\\n[KEY MIDDLE SECTIONS]\\n${middleChunks.join('\\n')}\\n\\n[END]\\n${last}`;\nreturn [{ json: { transcript_summary: summary, is_chunked: true, original_length: text.length } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        768
      ],
      "id": "e669064a-4ca5-4215-8630-0381903f5d87",
      "name": "Chunk Transcript"
    },
    {
      "parameters": {
        "jsCode": "const doc = $input.first().json;\nconst content = doc.body?.content || doc.text || JSON.stringify(doc);\nlet text = typeof content === 'string' ? content : JSON.stringify(content);\ntext = text.replace(/\\\\s+/g, ' ').trim();\n\nif (text.length <= 3000) {\n  return [{ json: { notes_summary: text, is_chunked: false } }];\n}\n\nconst first = text.substring(0, 1500);\nconst last = text.substring(text.length - 1500);\nconst middleChunks = [];\nconst step = Math.floor(text.length / 6);\nfor (let i = 1; i <= 4; i++) {\n  const pos = step * i;\n  const block = text.substring(pos, pos + 200);\n  const sentence = block.split(/[.!?]/)[0];\n  if (sentence) middleChunks.push(sentence.trim());\n}\n\nconst summary = `[START]\\n${first}\\n\\n[KEY MIDDLE SECTIONS]\\n${middleChunks.join('\\n')}\\n\\n[END]\\n${last}`;\nreturn [{ json: { notes_summary: summary, is_chunked: true, original_length: text.length } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        528
      ],
      "id": "ebc8ba10-221c-4f70-ab15-16d9d82f820b",
      "name": "Chunk Notes"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        752,
        512
      ],
      "id": "0e845f13-bd03-472a-9f25-524834922a82",
      "name": "Groq Chat Model3",
      "credentials": {
        "groqApi": {
          "id": "G4a03EAieez7gP7Q",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an academic performance analyzer.\n\nYou are given CLEAN student data.\n\n---\n\nRULES:\n\n* Output ONLY JSON\n* No markdown\n* No explanation\n* Use all students to find patterns\n\n---\n\nOUTPUT FORMAT:\n{\n\"class_analysis\": {\n\"total_students\": number,\n\n```\n\"risk_distribution\": {\n  \"low\": number,\n  \"medium\": number,\n  \"high\": number\n},\n\n\"average_scores\": {\n  \"understanding\": number,\n  \"quiz\": number,\n  \"engagement\": number\n},\n\n\"top_issues\": [\n  \"issue1\",\n  \"issue2\"\n],\n\n\"common_patterns\": [\n  \"pattern1\",\n  \"pattern2\"\n],\n\n\"class_status\": \"STRONG | AVERAGE | WEAK\"\n```\n\n}\n}\n\n---\n\nLOGIC:\n\n* HIGH risk ↑ → WEAK class\n* LOW risk ↑ → STRONG class\n* Identify issues like:\n\n  * fast pace\n  * low understanding\n  * many doubts\n\n---\n\nINPUT:\n{{JSON.stringify($json)}}\n\n---\n\nReturn ONLY JSON\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        880,
        400
      ],
      "id": "e670292c-8134-4a0c-aa83-eec94a4e7c6c",
      "name": "Basic LLM Chain2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an academic report generator.\n\nYou will receive TWO data sets:\n1. STUDENT ANALYSIS: Class-level engagement scores, risk distribution, and patterns\n2. TEACHER ANALYSIS: Teaching quality metrics, coverage scores, and performance\n\nCombine both into a FINAL COMPREHENSIVE REPORT.\n\n---\n\nRULES:\n- Output clean structured text (NOT JSON)\n- Use clear headings and sections\n- Be specific with numbers and evidence\n- Keep it professional but readable\n- Maximum 500 words\n\n---\n\nOUTPUT FORMAT:\n\nENGAGEMENT ANALYSIS REPORT\n==========================\n\n1. CLASS OVERVIEW\n   - Total students, overall class status\n   - Risk distribution summary\n\n2. STUDENT PERFORMANCE\n   - Average scores (understanding, quiz, engagement)\n   - Top issues identified\n   - Common patterns\n\n3. TEACHER PERFORMANCE\n   - Coverage score and rating\n   - Topics covered vs missed\n   - Key strengths and improvements needed\n\n4. RECOMMENDATIONS\n   - Top 3 actionable steps for improvement\n   - Priority areas\n\n---\n\nINPUT DATA:\n{{ JSON.stringify($json) }}\n\n---\n\nGenerate the report now.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1616,
        496
      ],
      "id": "04f03caa-0fd5-4d7e-b88c-f1172763693f",
      "name": "Basic LLM Chain3",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1616,
        672
      ],
      "id": "7f039654-da9d-4160-aa86-d6344b637634",
      "name": "Groq Chat Model4",
      "credentials": {
        "groqApi": {
          "id": "OonVzXZ9vrQDfIHv",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "path": "b4b7aa1c-8948-4558-86d5-871db15bd247",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -656,
        400
      ],
      "id": "9a165084-b8e2-4f21-8c95-ca46fd2af4b7",
      "name": "Webhook",
      "webhookId": "b4b7aa1c-8948-4558-86d5-871db15bd247"
    }
  ],
  "pinData": {},
  "connections": {
    "Student Data": {
      "main": [
        [
          {
            "node": "Sentiment Conversion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Engagement Score & Risk": {
      "main": [
        [
          {
            "node": "Engagement Score  and  Risk data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Conversion1": {
      "main": [
        [
          {
            "node": "Convert Sentiment into score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Conversion1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Convert Sentiment into score": {
      "main": [
        [
          {
            "node": "Wait for All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Teacher Feedback": {
      "main": [
        [
          {
            "node": "Wait for All Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Engagement Score & Risk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine conversion": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Teacher Transcript": {
      "main": [
        [
          {
            "node": "Chunk Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Teacher Notes": {
      "main": [
        [
          {
            "node": "Chunk Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Engagement Score  and  Risk data": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for All Data": {
      "main": [
        [
          {
            "node": "Combine conversion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Transcript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Chunk Notes": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain3": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Student Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Teacher Feedback",
            "type": "main",
            "index": 0
          },
          {
            "node": "Teacher Notes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Teacher Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "906e1920-fd56-4f5f-9464-95457ce3cbcf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c3e0993671b3a9467ef70ab7d2b6dda5fecf802f9a0d286c09f9e007c8bc88f5"
  },
  "id": "acbR64eDmSgnBsNm",
  "tags": []
}